* {
    padding: 0;
    margin: 0;
}

#htmlInputd {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 300px;
    box-sizing: border-box;
    justify-content: space-evenly;
    align-items: normal;
    flex-wrap: wrap-reverse;
    text-align: center;
    height: 300px;
    backdrop-filter: blur(20px);
}