* {
    margin: 0;
    padding: 0;
}

#css-style {
    background-color: rgb(255, 243, 243);
    border-color: rgb(53, 132, 228);
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 10px;
    font-size: 14px;
    min-height: 300px;
}

.btn-choix-onglet {
    font-weight: 650;
    border-width: 0px;
    padding: 0.5rem 1.5rem 0.6rem;
    border-radius: 5px;
    color: rgb(246, 245, 244);
    background-color: rgb(53, 132, 228);
    font-family: Open Sans;
}

.btn-choix-onglet:hover {
    background-color: rgb(98, 160, 234);
}

.tool-btn {
    border-width: 0px;
    padding: 2px;
    color: rgb(53, 132, 228);
    background-color: rgb(255, 243, 243);
}