*{
    padding: 0;
    margin: 0;
}

#htmlInput {
padding-top: 10px;
padding-right: 10px;
padding-bottom: 10px;
padding-left: 10px;
width: 300px;
box-sizing: border-box;
justify-content: space-evenly;
align-items:normal;
height: 300px;
}
